{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Bibliotèque de photos</h1>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ asset('images/1.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Description de l'image 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ asset('images/2.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Description de l'image 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ asset('images/3.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Description de l'image 3</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ asset('images/4.jpg') }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Description de l'image 4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
